*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.header{
    background-image: url("IN-en-20241008-TRIFECTA-perspective_b28b640f-cee0-426b-ac3a-7c000d3b41b7_large.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-shadow: 3px rgb(247, 138, 247);
    background-color: black;
    
}


.black{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    background-image: url("Netflix_Logo_PMS.jpg");
    background-size: cover;
    height: 100px;
    width: 220px;
    position: absolute;
    top: 30px;
    left: 100px;
}

#lang{
    color: whitesmoke;
    font-size: 1.5rem;
    position: absolute;
    top: 50px;
    right: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border: 2px solid white;
    border-radius: 5px;
    height: 50px;
    width: 200px;
}

.signin{
    border: none;
    border: 2px solid red;
    border-radius: 5px;
    position: absolute;
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    background-color: red;
    top: 50px;
    right: 150px;
}

.headline {
    height: 10px;
    width: 900px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    position: relative;
    top: -100px;
  }

  .pricing{
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    position: relative;
    top: 150px;
  }

  .pitch{
    color: white;
    font-weight: bold;
    position: relative;
    font-size: 1.3rem;
    top: 180px;
  }

.headerform{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailid{
    height: 80px;
    width: 570px;
    position: relative;
    border: none;
    border: 2px solid white;
    border-radius: 5px;
    top: 250px;
    left: -150px;
    background-color: rgba(42, 40, 40, 0.8);
    font-size: 2rem;
}

.getstarted{
    height: 80px;
    width: 250px;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border: none;
    border: 1px solid red;
    border-radius: 5px;
    position: relative;
    top: 170px;
    left: 450px;
}

.main{
    padding: 0;
    margin: 0;
    min-height: 250vh;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}

.trending{
    position: relative;
    height: 100px;
    width: 400px;
    top: 100px;
    left: 200px;
    font-size: 1.3rem;
    font-weight: bold;
}

.region{
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
}

#country{
    height: 50px;
    width: 150px;
    border: none;
    border: 2px solid rgba(108, 106, 106, 0.9);
    border-radius: 5px;
    background-color: rgba(42, 40, 40, 0.8);
    font-size: 1.5rem;
    color: rgb(254, 252, 252);
    position: relative;
    top: 100px;
    left: 200px;
}

#shows{
    height: 50px;
    width: 150px;
    border: none;
    border: 2px solid rgba(85, 83, 83, 0.8);
    border-radius: 5px;
    background-color: rgba(42, 40, 40, 0.8);
    font-size: 1.5rem;
    color: white;
    position: relative;
    top: 100px;
    left: 250px;
}

.movies{
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    top: 150px;
    left: 230px;
}


.movie1{
    background-size: cover;
}

.movie2{
    background-size: cover;
}

.movie3{
    background-size: cover;
}

.movie4{
    position: relative;
    top: -9px;
    background-size: cover;
}

.movie5{
    position: relative;
    top: -35px;
    background-size: cover;
}

.movie6{
    position: relative;
    top: -5px;
    background-size: cover;
}

.movie7{
    position: relative;
    top: -25px;
    background-size: cover;
}

.movie:hover{
    transform: scale(1.1);
}

.morereason{
    padding: 0;
    margin: 0;
    display: flex;
}

.morereasonheading{
    
    position: relative;
    font-size: 0.9rem;
    top: 200px;
    left: 200px;
    color: white;
    font-weight: bold;
}

.reasons{
    padding: 0;
    margin: 0;
    display: flex;
}

.items{
    position: relative;
    top: 300px;
    left: -100px;
    margin-left: 20px;
}

.item2 {
    position: relative;
    top: 305px;
}

.item3 {
    position: relative;
    top: 310px;
}

.faqheading{
    position: relative;
    top: -500px;
    left: 100px;
    font-size: 1.2rem;
    font-weight: bold;
}

.questions{
    color: whitesmoke;
    position: relative;
    top: -600px;
    left: 100px;
    font-size: 2rem;
}

.faq {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    color: whitesmoke;
    position: relative;
    top: 250px;
    right: 200px;
  }
  
  .faq-item {
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: whitesmoke;
    font-size: 1.5rem;
    position: relative;
    top: -450px;
    left: 150px;
  }
  
  summary {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
  }
  
  summary::-webkit-details-marker {
    display: none; /* Hide default marker */
  }
  
  details[open] summary {
    background-color: #444; /* Change background when expanded */
  }
  
  .p {
    padding: 15px;
    background-color: #444;
    color: white;
    margin: 0;
  }

  .convince{
    position: relative;
    top: -700px;
    left: 600px;
    color: whitesmoke;
    font-size: larger;
  }


  #notify1{
    position: relative;
    width: 675px;
    height: 60px;
    font-size: 1.5rem;
    top: -650px;
    left: 400px;
    background-color: transparent;
    border: 1px solid whitesmoke;
    font-weight: bold;
    color: whitesmoke;
}

.submit-email1{
    position: relative;
    height: 64px;
    border: none;
    width: 250px;
    background-color: red;
    color: whitesmoke;
    font-size: 2rem;
    border-radius: 5%;
    top: -645px;
    left: 400px;
}

.footer{
    height: 100vh;
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    position: relative;
}

a{
    color: rgba(255, 255, 255, 0.5);
}


.tollfree{
    position: relative;
    top: -500px;
    left: 250px;
}

.number{
    text-decoration: underline;
    position: relative;
    top: -530px;
    left: 430px;
}

.container{
    display: flex;
    height: 300px;
    width: 2000px;
    flex-direction: column;
    position: relative;
    top: -450px;

}

.first{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.second{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.second div:nth-child(1){
    position: relative;
    left: 15px;
}

.second div:nth-child(2){
    position: relative;
    right: 95px;
}

.third{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.third div:nth-child(1){
    position: relative;
    left: 30px;
}

.forth{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.forth div:nth-child(1){
    position: relative;
    right: 70px;
}

.forth div:nth-child(2){
    position: relative;
    right: 300px;
}

.forth div:nth-child(3){
    position: relative;
    right: 400px;
}

.signature{
    position: relative;
    top: 300px;
    left: 300px;
}

@media(max-width: 426px) and (min-width: 320px){
    .logo{
        background-image: url("Netflix_Logo_for\ phones.png");
        background-size: cover;
        height: 50px;
        width: 120px;
        position: absolute;
        top: 20px;
        left: 10px;
    }

    #lang{
        left:230px;
        width: 50px;
        height: 30px;
        top: 30px;
        font-size: 1rem;
    }

    .signin{
        top: 30px;
        right: 40px;
        width: 60px;
        height: 30px;
        font-size: 1rem;
    }

    .headline{
        font-size: 1rem;
        height: 50px;
        width: 350px;
        top: 20px;
    }

    .pricing{
        font-size: 1rem;
        top: 70px;
    }

    .pitch{
        height: 50px;
        width: 300px;
        font-size: 0.8rem;
        top: 100px;
        text-align: center;
    }

    .emailid{
        color: white;
        height: 50px;
        width: 320px;
        top: 120px;
        left: 0px;
        font-size: 1rem;
    }

    .getstarted{
        height: 50px;
        width: 150px;
        top: 150px;
        left: 100px;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .trending{
        height: 100px;
        width: 400px;
        top: 50px;
        left: 50px;
        font-size: 0.6rem;
        font-weight: bold;
    }
    
    #country{
        top: 60px;
        left: 50px;
        font-size: 1rem;
        height: 40px;
        width: 300px;
    }

    #shows{
        top: 120px;
        left: -250px;
        font-size: 1rem;
        height: 40px;
        width: 300px;
    }

    .movies{
        flex-direction: column;
        position: relative;
        left: 90px;
    }

    .movie7{
        top: 30px;
    }

    .movie6{
        top: 0px;
    }

    .movie5{
        top: -20px;
    }

    .main{
        padding: 0;
        margin: 0;
        height: 500vh;
    }

    .morereason{
        flex-direction: column;
        position:relative;
        top: 50px;
    }
    
    .morereasonheading{
        
        position: relative;
        font-size: 0.6rem;
        top: 200px;
        left: 10px;
        color: white;
        font-weight: bold;
    }

    .reasons{
        flex-direction: column;
        position: relative;
        top: -90px;
        left: 80px;
        height: 20px;
    }

    .faqheading{
        position: relative;
        top: -210px;
        left: 80px;
        font-size: 0.9rem;
        font-weight: bold;
    }
    
    .questions{
        color: whitesmoke;
        position: relative;
        top: 200px;
        left: 100px;
        font-size: 2rem;
    }
    
    .faq {
        width: 100%;
        max-width: 300px;
        margin: auto;
        color: whitesmoke;
        position: relative;
        top: 850px;
        right: 100px;
      }
      
      .faq-item {
        margin-bottom: 10px;
        border: 1px solid #333;
        border-radius: 5px;
        background-color: #333;
        color: whitesmoke;
        font-size: 1.5rem;
        position: relative;
        top: -180px;
        left: 100px;
      }

      .convince{
        position: relative;
        width: 400px;
        text-align: center;;
        top: -50px;
        left: 0px;
        color: whitesmoke;
        font-size: larger;
      }
    
    
      #notify1{
        position: relative;
        width: 350px;
        height: 40px;
        font-size: 1.5rem;
        top: -20px;
        left: 25px;
        background-color: transparent;
        border: 1px solid whitesmoke;
        font-weight: bold;
        color: whitesmoke;
    }
    
    .submit-email1{
        position: relative;
        height: 44px;
        border: none;
        width: 150px;
        background-color: red;
        color: whitesmoke;
        font-size: 1rem;
        border-radius: 5%;
        top: 5px;
        left: 25px;
        font-family: bold;
    }
}
