*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.header{
    background-image: url("IN-en-20241008-TRIFECTA-perspective_b28b640f-cee0-426b-ac3a-7c000d3b41b7_large.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    box-shadow: 3px rgb(247, 138, 247);
    background-color: black;
    
}


.black{
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    background-image: url("Netflix_Logo_PMS.jpg");
    background-size: cover;
    height: 100px;
    width: 220px;
    position: absolute;
    top: 30px;
    left: 100px;
}

#lang{
    color: whitesmoke;
    font-size: 1.5rem;
    position: absolute;
    top: 50px;
    right: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border: 2px solid white;
    border-radius: 5px;
    height: 50px;
    width: 200px;
}

.signin{
    border: none;
    border: 2px solid red;
    border-radius: 5px;
    position: absolute;
    height: 50px;
    width: 100px;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    background-color: red;
    top: 50px;
    right: 150px;
}

.headline {
    height: 10px;
    width: 900px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    background-color: transparent;
    font-weight: bold;
    position: relative;
    top: -100px;
  }

  .pricing{
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    position: relative;
    top: 150px;
  }

  .pitch{
    color: white;
    font-weight: bold;
    position: relative;
    font-size: 1.3rem;
    top: 180px;
  }

.headerform{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailid{
    height: 80px;
    width: 570px;
    position: relative;
    border: none;
    border: 2px solid white;
    border-radius: 5px;
    top: 250px;
    left: -150px;
    background-color: rgba(42, 40, 40, 0.8);
    font-size: 2rem;
}

.getstarted{
    height: 80px;
    width: 250px;
    background-color: red;
    color: white;
    font-size: 1.5rem;
    border: none;
    border: 1px solid red;
    border-radius: 5px;
    position: relative;
    top: 170px;
    left: 450px;
}

.main{
    padding: 0;
    margin: 0;
    height: 200vh;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
}

.trending{
    position: relative;
    height: 100px;
    width: 400px;
    top: 100px;
    left: 200px;
    font-size: 1.3rem;
    font-weight: bold;
}

.region{
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
}

#country{
    height: 50px;
    width: 150px;
    border: none;
    border: 2px solid rgba(108, 106, 106, 0.9);
    border-radius: 5px;
    background-color: rgba(42, 40, 40, 0.8);
    font-size: 1.5rem;
    color: rgb(254, 252, 252);
    position: relative;
    top: 100px;
    left: 200px;
}

#shows{
    height: 50px;
    width: 150px;
    border: none;
    border: 2px solid rgba(85, 83, 83, 0.8);
    border-radius: 5px;
    background-color: rgba(42, 40, 40, 0.8);
    font-size: 1.5rem;
    color: white;
    position: relative;
    top: 100px;
    left: 250px;
}

.movies{
    padding: 0;
    margin: 0;
    display: flex;
    position: relative;
    top: 150px;
    left: 230px;
}
.movie1{
    background-size: cover;
}

.movie2{
    background-size: cover;
}

.movie3{
    background-size: cover;
}

.movie4{
    position: relative;
    top: -9px;
    background-size: cover;
}

.movie5{
    position: relative;
    top: -35px;
    background-size: cover;
}

.movie6{
    position: relative;
    top: -5px;
    background-size: cover;
}

.movie7{
    position: relative;
    top: -25px;
    background-size: cover;
}

.movie:hover{
    transform: scale(1.1);
}

.morereason{
    padding: 0;
    margin: 0;
    display: flex;
}

.morereasonheading{
    
    position: relative;
    font-size: 0.9rem;
    top: 200px;
    left: 200px;
    color: white;
    font-weight: bold;
}

.reasons{
    padding: 0;
    margin: 0;
    display: flex;
}

.items{
    position: relative;
    top: 300px;
    left: -100px;
    margin-left: 20px;
}
